/* @import url('https://fonts.googleapis.com/css?family=Anton|Libre+Barcode+39|Lora'); */
.table, #copyright {
    margin: 0 auto;
    color: white;
}
.navbar.transparent {
    background-color: none;
}

.jumbotron, body, .otherInfo {
    font-family: 'Rajdhani', sans-serif;
}

.jumbotron {
    margin-bottom: 0px;
    background: none;
}

.display-4 {
    font-size: 12rem;
    transform: skewY(-5deg) translateY(-5%);
}

#city-search {
float: right;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.card {
    opacity: .5;
 font-style: bold;
}

.card {
    opacity: .75;
 font-style: bold;
}

#map {
    float: right;
}

h2, h4, h5 {
    font-family: 'Economica', sans-serif;
}
h4 {
    transform: skewY(-5deg) translateY(-240%);
}

#copyright, #links{
    margin: auto;
    text-align: center;
    color: white;
    box-sizing: border-box;
    /* background-color; */
}

.marker {

    cursor: pointer;

    }

#citytext {
        margin: 0 auto; 
        width:250px;
    }