@import url('https://fonts.googleapis.com/css?family=Anton|Libre+Barcode+39|Lora');

.jumbotron {
    background-image: url("http://farm5.static.flickr.com/4079/4906277577_413bebdf7f.jpg");
    background-size: cover;
    font-family: 'anton', sans-serif; color: rgb(205, 205, 206);
}
/* .clear {
display: inline-block;} */

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.navbar, .card {
    opacity: .5;
 font-style: bold;
}

.card {
    opacity: .75;
 font-style: bold;
}

.marker {

    cursor: pointer;

    }